package ${packageName};

public class ${className}Builder {

#foreach($parameter in $parameters)
    private ${parameter.type} ${parameter.name};
#end

    public static ${className}Builder builder() {
        return new ${className}Builder();
    }
#foreach($parameter in $parameters)

    public ${className}Builder ${parameter.methodName}(${parameter.type} ${parameter.name}) {
        this.${parameter.name} = ${parameter.name};
        return this;
    }
#end

    public ${className} build() {
        return new ${className}(
#foreach($parameter in $parameters)
                ${parameter.param}
#end
        );
    }
}
